/.vs/DBFirst/v15/.suo
/DBFirst/bin/Debug/DBFirst.exe
/DBFirst/bin/Debug/DBFirst.exe.config
/DBFirst/bin/Debug/DBFirst.pdb
/DBFirst/bin/Debug/EntityFramework.SqlServer.dll
/DBFirst/bin/Debug/EntityFramework.SqlServer.xml
/DBFirst/bin/Debug/EntityFramework.dll
/DBFirst/bin/Debug/EntityFramework.xml
/DBFirst/obj/Debug/CoreCompileInputs.cache
/DBFirst/obj/Debug/DBFirst.csproj.FileListAbsolute.txt
/DBFirst/obj/Debug/DBFirst.csprojResolveAssemblyReference.cache
/DBFirst/obj/Debug/DBFirst.exe
/DBFirst/obj/Debug/DBFirst.pdb
/DBFirst/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DBFirst/obj/Debug/TempPE/PlutoModel.Context.cs.dll
/DBFirst/obj/Debug/TempPE/PlutoModel.Designer.cs.dll
/DBFirst/obj/Debug/TempPE/PlutoModel.cs.dll
/DBFirst/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DBFirst/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DBFirst/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DBFirst/obj/Debug/edmxResourcesToEmbed/PlutoModel.csdl
/DBFirst/obj/Debug/edmxResourcesToEmbed/PlutoModel.msl
/DBFirst/obj/Debug/edmxResourcesToEmbed/PlutoModel.ssdl
